.ipe-template-list .template-item {
	width: 46%;
	border: 2px solid #555;
	text-align: center;
	margin: 2%;
	display: block;
}

.ipe-template-list .template-item .description {
    font-size: 15px;
    color: #000;
}

.ipe-template-list .template-item:hover {
	border-color: #666;
}

.ipe-template-list .template-item .template-name {
	font-size: 20px;
	background-color: #555;
	color: white;
	padding: 10px;
	margin: 0;
}

.ipe-template-list .template-item:hover .template-name {
	background-color: #666;
}

.penceo-ipe-add-template span {
	background-image: url(../img/icon_template.png);
}

/* Disabling top scrollbars for ipe */
#modalBackdrop {
    overflow: hidden;
}